@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.transition {
  transition: all 0.3s ease-in-out;
}

.transition.animate-slide {
  transform: translateX(-50%); /* Initial state */
}

.transition.animate-slide.active {
  transform: translateX(0); /* Final state after swap */
}

.swiper-button-next,
.swiper-button-prev {
  color: #ff0000; /* Set the color you want */
  font-size: 20px; /* Adjust the font size if needed */
}